<h1>Welcome to /n/<%= @sub.title %></h1>


<ul>
  <% @posts.all.each do |post| %>
    <li>
      <%= link_to(post.title, post_url(post)) %>
    </li>
  <% end %>
</ul>

<%= link_to("New Post", new_post_url) %><br>
<a href="<%= subs_url %>">Back to all subs</a>
